<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head.ejs") %>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include("partials/navbar.ejs") %>

    <main class="container mt-5 flex-grow-1">
    
        <div class="container mt-5">
            <h1>Agencia Viajes</h1>
            <p>Bienvenido a nuestra agencia.</p>

            <a href="/destinos" class="btn btn-primary">Ver destinos</a>
            <a href="/paquetes" class="btn btn-success">Ver paquetes</a>
        </div>

    </main>

    <%- include("partials/footer") %>
</body>
</html>